fastapi
uvicorn[standard]
websockets
mysql-connector-python
pydantic
python-dotenv
python-multipart
openpyxl
xlsxwriter
python-dateutil
pandas
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
statsmodels
scikit-learn
numpy
scipy
prophet
